/* Déclaration @font-face pour la police Maven Pro */
@font-face {
    font-family: 'MavenPro';
    src: url(/assets/fonts/MavenPro-Regular.ttf),
        url(/assets/fonts/MavenPro-Bold.ttf);
}

/* Déclaration @font-face pour la police Lato */
@font-face {
    font-family: 'Lato';
    src: url(/assets/fonts/Lato-Regular.ttf),
        url(/assets/fonts/Lato-Bold.ttf);
}

/**************** Généralités ***************/

/* Police Lato pour le texte */
body {
    font-family: "Lato", sans-serif;
    min-width: 375px;
    width: 1020px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Variables de couleurs */
:root {
    --couleur-principale: #2eb398;
    --couleur-secondaire: #323232;
    --couleur-footer: #222222;
}

/* Police Maven Pro pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MavenPro", sans-serif;
}

/* Supprime les styles de liste par défaut */
li {
    list-style: none;
}

/* Supprime les styles de lien par défaut */
a {
    text-decoration: none;
    color: inherit;
}

/* Taille de police par défaut pour les paragraphes */
p {
    font-size: 1rem;
    color: white;
}

h2 {
    color: white;
    font-size: 2.5rem;
}

/**************** Header ***************/

.header {
    background-color: var(--couleur-secondaire);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 1.25rem;
}

.navigation {
    display: flex;
    text-transform: uppercase;
    margin: 0;
}

.navigation ul {
    display: flex;
}

.ul-navigation {
    padding-right: 22px;
}

.navigation li {
    color: white;
}

.navigation a {
    padding-left: 50px;
}

.navigation a:hover {
    color: var(--couleur-principale);
}

.logo {
    width: 100px;
    height: auto;
    transform: rotate(90deg);
}

/**************** Main ***************/

/* Hexagon */

.hexagon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 125px;
}

.ligne {
    display: flex;
    justify-content: space-between;
}

.polygon {
    position: relative;
    width: 180px;
    height: 207px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 10px;
    margin-bottom: -50px;
}

.polygon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About */

.about {
    display: flex;
    justify-content: center;
    background-color: var(--couleur-principale);
    padding-top: 100px;
    padding-bottom: 100px;
}

.polygon-about {
    position: relative;
    width: 180px;
    height: 207px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.polygon-about img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    flex: 0 0 58.5%;
    /* Réduit la largeur de la partie description à 58.5% de l'espace disponible */
    display: flex;
    justify-content: space-between;
    /* Aligne les éléments sur les extrémités (à gauche et à droite) */
    align-items: flex-start;
    /* Aligne les éléments sur le haut */
}

.content {
    flex: 1;
    /* Prend tout l'espace disponible */
    padding-left: 25px;
}

.title-description {
    padding-bottom: 10px;
}

.subtitle-description {
    color: #19947a;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.txt-description {
    line-height: 1.8;
    /* Hauteur de ligne */
}

/* .icon1::after {
    font-family: "Font Awesome 5 Brands";
    content: "\f09a";
Ajouter autres propriétés CSS style icône : taille, couleur, etc. */

/* Contact */

.contact {
    background-color: var(--couleur-secondaire);
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 50px;
    padding-left: 170px;
}

.contact-form {
    flex: 0 0 80%;
    /* Réduit la largeur de la partie description à 58.5% de l'espace disponible */
}

.form {
    display: flex;
    flex-direction: column;
    /* Les éléments du formulaire sont empilés verticalement */
}

/* Style pour les étiquettes et les champs de saisie du formulaire */
label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.info {
    flex: 1;
    /* Prend tout l'espace disponible */
    padding-right: 171px;
}